:root {
    --page-background: #212123;
    --header-font-color: #B8B8B8;
    --black-color: #191919;
    --white-color: #FFFFFF;
    --grey-color: #576067;
    --bestseller: #616e74;
    --item-category: #b8b8b8;

    --purple-color: #6c3eb8;
    --purple-color-active: #8b57c6;
}