.sale {
    padding-bottom: 36px;
}
.sale__content {
    display: flex;
    justify-content: space-between;
}
.content__items {
    position: relative;
    background-color: var(--black-color);
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    color: var(--purple-color);
    width: 100%;
    span {
        font-size: 150px;
    }
    .text {
        padding-top: 74px;
        display: inline-block;
        padding-right: 50px;
    }
}
.santa__img {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    img {
        width: 100%; /* Чтобы изображение растягивалось на весь блок */
        height: auto;
    }
}
.santa__text {
    position: absolute;
    bottom: 0; 
    width: 100%;
    color: var(--page-background);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    transform: translate(0px, -24px);

    span {
        font-weight: 700;
        color: var(--purple-color);
    }
}
.content__sneaker {
    position: absolute;
    z-index: 9;
    transform: translate(-30px, -80px);
}
.content__console {
    position: absolute;
    z-index: 9;
    right: 0;
    transform: translate(20px, 50px);
}
.sale__btn {
    text-align: center;
    margin-top: -30px;
    button {
        font-weight: 600;
        font-size: 16px;
        background-color: var(--purple-color);
        padding: 9px 20px;
        border-radius: 6px;
        color: var(--white-color);
    }
}