@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --page-background: #212123;
  --header-font-color: #B8B8B8;
  --black-color: #191919;
  --white-color: #FFFFFF;
  --grey-color: #576067;
  --bestseller: #616e74;
  --item-category: #b8b8b8;
  --sidenav-form: #f6f6f7;
  --purple-color: #6c3eb8;
  --purple-color-active: #8b57c6;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--page-background);
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 15px;
}

.first-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
}

.main {
  min-height: calc(100vh - 78px - 123px);
}

.header {
  color: var(--header-font-color);
}

.header__row {
  padding: 21px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.user-field {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 6px;
}
.user-field img {
  background-color: var(--black-color);
  padding: 8px;
  border-radius: 50%;
}

.header__search {
  background-color: var(--black-color);
  border-radius: 6px;
}
.header__search .form {
  padding: 7px 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 20px;
  position: relative;
}

.categories__content {
  padding: 25px;
  background-color: var(--black-color);
  color: var(--grey-color);
  border-radius: 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.categories__content a {
  color: var(--grey-color);
}
.categories__content a:hover {
  color: var(--purple-color-active);
  transition: 0.2s ease-in;
}

.categories__title {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.categories__list {
  display: grid;
  gap: 12px;
  padding: 32px 0 116px;
}

.categories__nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.hero__content {
  height: 100%;
  background-color: var(--black-color);
  border-radius: 6px;
  padding: 30px 35px 85px;
  color: var(--white-color);
  position: relative;
}
.hero__content .sale-img {
  margin-bottom: 30px;
}

.bestseller {
  color: var(--bestseller);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.bestseller__title {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 24px;
}

.hero__btn {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
}

.hero__computer {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-41px, 90px);
}
.hero__computer img {
  width: 100%;
  height: 100%;
}

.trending {
  padding-top: 20px;
}

.trending__content {
  background-color: var(--black-color);
  padding: 25px 0 23px;
  border-radius: 6px;
}

.trending__list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 24px;
}

.item__name {
  font-weight: 600;
  font-size: 15px;
  color: var(--white-color);
}

.item__category {
  font-weight: 500;
  font-size: 12px;
  color: var(--item-category);
}

.item__price {
  display: flex;
  gap: 5px;
  align-items: center;
}

.item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.item__purchased {
  font-weight: 500;
  font-size: 10px;
  color: var(--grey-color);
}

.item__price-now {
  color: var(--purple-color);
  font-weight: 700;
  font-size: 20px;
}

.item__price-before {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 13px;
  text-decoration: line-through;
}

.list__item-content {
  padding: 12px 12px 8px;
  background-color: var(--page-background);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list__item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trending__btn {
  text-align: center;
}
.trending__btn button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
  color: var(--white-color);
}

.trending__title-wrapper {
  text-align: center;
  margin-bottom: 24px;
}

.trending__item {
  max-width: 220px;
}

.worth {
  padding: 20px 0;
  text-align: center;
  color: var(--white-color);
}
.worth img {
  margin-bottom: 20px;
}

.worth__content {
  padding: 22px 0 26px;
  background-color: var(--black-color);
  border-radius: 6px;
}

.worth__list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.worth__item {
  max-width: 230px;
}

.worth__title-wrapper {
  margin-bottom: 24px;
}

.worth__category {
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
}

.sale {
  padding-bottom: 36px;
}

.sale__content {
  display: flex;
  justify-content: space-between;
}

.content__items {
  position: relative;
  background-color: var(--black-color);
  font-weight: 300;
  font-size: 70px;
  text-align: center;
  color: var(--purple-color);
  width: 100%;
}
.content__items span {
  font-size: 150px;
}
.content__items .text {
  padding-top: 74px;
  display: inline-block;
  padding-right: 50px;
}

.santa__img {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
}
.santa__img img {
  width: 100%; /* Чтобы изображение растягивалось на весь блок */
  height: auto;
}

.santa__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--page-background);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  transform: translate(0px, -24px);
}
.santa__text span {
  font-weight: 700;
  color: var(--purple-color);
}

.content__sneaker {
  position: absolute;
  z-index: 9;
  transform: translate(-30px, -80px);
}

.content__console {
  position: absolute;
  z-index: 9;
  right: 0;
  transform: translate(20px, 50px);
}

.sale__btn {
  text-align: center;
  margin-top: -30px;
}
.sale__btn button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
  color: var(--white-color);
}

.footer {
  padding: 19px 0 24px;
}

.footer__socials-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.developed-by {
  font-weight: 500;
  font-size: 12px;
  color: var(--grey-color);
}
.developed-by span {
  color: var(--purple-color);
}

.footer__content {
  border-radius: 6px;
  padding: 24px;
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--black-color);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.open-sidenav-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

.sidenav__heading {
  text-align: center;
  color: var(--sidenav-form);
  font-size: 15px;
}

.sidenav__input {
  background-color: var(--page-background);
  border-radius: 8px;
}
.sidenav__input input {
  padding: 12px 24px;
  font-size: 13px;
  color: var(--sidenav-form);
}

.sidenav__form {
  padding: 24px;
  display: grid;
  gap: 16px;
}

.sidenav__btn {
  margin-top: 8px;
}
.sidenav__btn button {
  width: 100%;
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: 9px 61px;
  border-radius: 6px;
  font-weight: 500;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.product__info {
  background-color: var(--black-color);
  border-radius: 6px;
}
.product__info img {
  border-radius: 8px;
}

.product__content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.product__info-content {
  padding: 24px;
  display: flex;
  gap: 31px;
}

.product__info-img {
  display: flex;
  gap: 20px;
}

.thumbs__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.thumbs__item {
  height: 90px;
  width: 90px;
}

.product__info-img {
  max-width: 490px;
}

.product__info-mainImg {
  width: 375px;
}

.product__info-intro {
  margin-bottom: 20px;
}

.product__info-data {
  color: var(--sidenav-form);
  max-height: 375px;
}

.product__name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.product__price {
  font-weight: 700;
  font-size: 20px;
}

.product__info-tech {
  height: 275px;
  display: flex;
  flex-direction: column;
}
.product__info-tech div {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.product__info-tech p {
  font-weight: 500;
  font-size: 14px;
  color: var(--grey-color);
}
.product__info-tech span {
  font-weight: 500;
  font-size: 14px;
}
.product__info-tech .product__info-btns {
  margin-bottom: 0;
}
.product__info-tech .product__info-other {
  margin-bottom: 0;
}

.size__list {
  display: flex;
  gap: 5px;
}

.product__info-descr {
  width: 100%;
  max-width: 340px;
  margin-bottom: 20px;
}

.product__info-other {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product__cart-btn button {
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
}

.product__fav-btn {
  background-color: var(--grey-color);
  padding: 9px 20px;
  border-radius: 6px;
}

.size__item {
  background-color: var(--page-background);
  border-radius: 8px;
}

.size__item-active {
  background-color: var(--purple-color);
}
.size__item-active p {
  color: var(--white-color) !important;
}
.size__item-active .size__item-wrapper {
  padding: 4px 8px;
}

.size__item-wrapper {
  padding: 4px 6px;
  margin: 0 !important;
}

.cart__wrapper {
  background-color: var(--black-color);
  color: var(--white-color);
}

.cart__content {
  padding: 25px 32px;
  height: 100%;
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.cart__main {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.cart__heading {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}

.cart__info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
  padding-top: 20px;
}

.cart__btn {
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
}

.cart__list {
  display: grid;
  gap: 8px;
}

.cart__item {
  background-color: var(--page-background);
}

.cart__item-content {
  padding: 12px 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr 1fr;
}

.cart__item-img img {
  width: 98px;
  max-height: 47px;
  border-radius: 6px;
}

.cart__item-center {
  display: flex;
  align-items: center;
  gap: 95px;
}

.cart__item-controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cart__item-first {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart__control {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.cart__control:hover {
  opacity: 0.5;
}

.cart__item-minus {
  background-color: var(--grey-color);
}

.cart__item-plus {
  background-color: var(--purple-color);
}

.cart__item-end {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 44px;
  justify-self: end;
}

.cart__item-price {
  font-weight: 700;
  font-size: 20px;
}

.cart__item-final {
  font-weight: 700;
  font-size: 22px;
  color: var(--purple-color);
}

.cart__item-name {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px;
}

.cart__item-cat {
  font-weight: 500;
  font-size: 10px;
  color: var(--item-category);
}

.cart__item-del {
  height: 16px;
}

.cart__amount {
  height: 20px;
  width: 20px;
  position: absolute;
  background-color: var(--purple-color);
  right: 0;
  bottom: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 14px;
  transform: translate(10px, 5px);
}/*# sourceMappingURL=main.css.map */