@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --page-background: #212123;
  --header-font-color: #B8B8B8;
  --black-color: #191919;
  --white-color: #FFFFFF;
  --grey-color: #576067;
  --bestseller: #616e74;
  --item-category: #b8b8b8;
  --purple-color: #6c3eb8;
  --purple-color-active: #8b57c6;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--page-background);
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 15px;
}

.first-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
}

.header {
  color: var(--header-font-color);
}

.header__row {
  padding: 21px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.user-field {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-field img {
  background-color: var(--black-color);
  padding: 8px;
  border-radius: 50%;
}

.header__search {
  background-color: var(--black-color);
  border-radius: 6px;
}
.header__search .form {
  padding: 7px 10px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 20px;
}

.categories__content {
  padding: 25px;
  background-color: var(--black-color);
  color: var(--grey-color);
  border-radius: 6px;
}
.categories__content a {
  color: var(--grey-color);
}
.categories__content a:hover {
  color: var(--purple-color-active);
  transition: 0.2s ease-in;
}

.categories__title {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.categories__list {
  display: grid;
  gap: 12px;
  padding: 32px 0 116px;
}

.categories__nav {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  height: 100%;
  background-color: var(--black-color);
  border-radius: 6px;
  padding: 30px 35px 85px;
  color: var(--white-color);
  position: relative;
}
.hero__content .sale-img {
  margin-bottom: 30px;
}

.bestseller {
  color: var(--bestseller);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.bestseller__title {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 24px;
}

.hero__btn {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
}

.hero__computer {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-41px, 90px);
}
.hero__computer img {
  width: 100%;
  height: 100%;
}

.trending {
  padding-top: 20px;
}

.trending__content {
  background-color: var(--black-color);
  padding: 25px 0 23px;
  border-radius: 6px;
}

.trending__list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 24px;
}

.item__name {
  font-weight: 600;
  font-size: 15px;
  color: var(--white-color);
}

.item__category {
  font-weight: 500;
  font-size: 12px;
  color: var(--item-category);
}

.item__price {
  display: flex;
  gap: 5px;
  align-items: center;
}

.item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__purchased {
  font-weight: 500;
  font-size: 10px;
  color: var(--grey-color);
}

.item__price-now {
  color: var(--purple-color);
  font-weight: 700;
  font-size: 20px;
}

.item__price-before {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 13px;
  text-decoration: line-through;
}

.list__item-content {
  padding: 12px 12px 8px;
  background-color: var(--page-background);
}

.trending__btn {
  text-align: center;
}
.trending__btn button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
  color: var(--white-color);
}

.trending__title-wrapper {
  text-align: center;
  margin-bottom: 24px;
}

.worth {
  padding: 20px 0;
  text-align: center;
  color: var(--white-color);
}
.worth img {
  margin-bottom: 20px;
}

.worth__content {
  padding: 22px 0 26px;
  background-color: var(--black-color);
  border-radius: 6px;
}

.worth__list {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.worth__title-wrapper {
  margin-bottom: 24px;
}

.worth__category {
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
}

.sale {
  padding-bottom: 36px;
}

.sale__content {
  display: flex;
  justify-content: space-between;
}

.content__items {
  position: relative;
  background-color: var(--black-color);
  font-weight: 300;
  font-size: 70px;
  text-align: center;
  color: var(--purple-color);
  width: 100%;
}
.content__items span {
  font-size: 150px;
}
.content__items .text {
  padding-top: 74px;
  display: inline-block;
  padding-right: 50px;
}

.santa__img {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
}
.santa__img img {
  width: 100%; /* Чтобы изображение растягивалось на весь блок */
  height: auto;
}

.santa__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--page-background);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  transform: translate(0px, -24px);
}
.santa__text span {
  font-weight: 700;
  color: var(--purple-color);
}

.content__sneaker {
  position: absolute;
  z-index: 9;
  transform: translate(-30px, -80px);
}

.content__console {
  position: absolute;
  z-index: 9;
  right: 0;
  transform: translate(20px, 50px);
}

.sale__btn {
  text-align: center;
  margin-top: -30px;
}
.sale__btn button {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--purple-color);
  padding: 9px 20px;
  border-radius: 6px;
  color: var(--white-color);
}

.footer {
  padding: 19px 0 24px;
}

.footer__socials-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.developed-by {
  font-weight: 500;
  font-size: 12px;
  color: var(--grey-color);
}
.developed-by span {
  color: var(--purple-color);
}

.footer__content {
  border-radius: 6px;
  padding: 24px;
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */